<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 아래 namespace를 변수로 선언하고 namespace.id로 mapping 된 sql 문을 호출하는 방식
		
		ex)
		
		.........BoardDAOTest.java 
		
		BoardDAO board = new BoardDAO();
		String namespace = "org.zerock.mapper.BoardMapper"
		
		public void callNSSqlCreate(){
			BoardVO vo = new BoardVO();
			vo.setTitle("새로운 제목");
			vo.setContent("새로운 내용");
			vo.setWriter("새로운 작성자");
			board.create(vo);
		}
		
		..........BoardDAO.java
		
		@Inject
		private SqlSession session;
		
		String namespace = "org.zerock.mapper.BoardMapper";
		
		public void create(BoardVO vo){
			session.insert(session.creat(namespace+".create", vo);
		}
		 -->

<mapper namespace="org.zerock.mapper.BoardMapper">

	<insert id="create">
	insert into tbl_board (title, content, writer) 
	values(#{title},#{content},#{writer})
	</insert>
	
	<select id="read" resultType="org.zerock.domain.BoardVO">
	select 
		bno, title, content, writer, regdate, viewcnt 
	from 
		tbl_board 
	where bno = #{bno}
	</select>
	
	<update id="update">
	update tbl_board set title=#{title}, content=#{content} 
	where bno = #{bno}
	</update>
	
	<delete id="delete">
	delete from tbl_board where bon=#{bno}
	</delete>
	
	<select id="listAll" resultType="org.zerock.domain.BoardVO">
	<![CDATA[
	select 
		bno, title, content, writer, regdate, viewcnt 
	from 
		tbl_board 
	where bno > 0 
	order by bno desc, regdate desc]]>
	</select>
	
</mapper>